.header {
    &.is_login,
    &.is_register {
        background: #21C08B;
    }
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 0 15px;
    &__logo {
        width: 200px;
        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        &:hover {
            .header__menu--items {
                display: block;
            }
        }
        &--profile {
            vertical-align: top;
            border-radius: 50%;
            max-width: 50px;
            max-height: 50px;
        }
        &--items {
            display: none;
            position: absolute;
            list-style: none;
            text-align: right;
            padding: 0;
            right: 15px;
            padding-top: 15px;
            top: 58px;
            &:hover {
                display: block;
            }
        }
        &--item {
            margin-bottom: 15px;
        }
        &--link {
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-left: 10px;
            color: #fff;
        }
    }
}